* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --color-black: #000000;
    --color-gray: #7c7c7c2b;
    --color-white: #fff;
    --color-white2: #ffffff;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

.container {

    background: var(--color-black);
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

.input-city {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: var(--color-gray);
    color: var(--color-white);
    width: calc(100% - 100px);
}

.button-search {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: var(--color-gray);
    cursor: pointer;
    float: right;
}

.img-search {
    width: 25px;
}

.middle {
    margin-top: 30px;
}

.title-city {
    color: var(--color-white);
    font-size: 28px;
    font-weight: 300;
}

.time {
    font-size: 20px;
    color: var(--color-white2);
    margin-top: 20px;
}

.small {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.preview-text {
    color: var(--color-white2);
    margin-left: 20px;
    text-transform: capitalize;

}

.humidity {
    color: var(--color-white2);
    margin-top: 20px;
}